<h1>Location form</h1>
 <div> 
  <%= form_with :url => { :controller => "incomming", :action => "form_submit" }, html: {method: :post}  do |f| %>
    <p> Email: <%= f.text_field :email %> </p>
    <p> Location: <%= f.text_field :location %> </p>


    <%= submit_tag "Submit" %>
  <% end %>
</div>

  <p> <%= link_to "Add new user", controller: "pages", action: "register_new_user" %> </p>
  <p> <%= link_to "Track user", controller: "pages", action: "track_user" %> </p>